.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img {
    max-width: 60%;
}

.container {
    max-width: 80%;
    align-items: center;
}

.header h1,
h2,
ul {
    display: flex;
    color: gray;
    list-style: none;
    flex-wrap: wrap-reverse;
}